<strong>Olá, {{ student }}</strong>
<p>Seja bem-vindo à academia GyPoint!</p>
<p>Viemos agradecer sua inscriçāo na GyPoint, esperamos que goste e agora 'bora' se exercitar</p>
<p>Detalhes da matrícula</p>
<p>
  <strong>Nome: </strong> {{ student }} <br>
  <strong>Número de inscriçāo: </strong> {{ id }} <br>
  <strong>Plano: </strong> {{ plan }} <br>
  <strong>Duração: </strong> de {{ start_date }} à {{end_date}}<br>
  <strong>Preço: </strong> {{ price }} <br><br>

  <small>
    Obrigado pela preferencia!
  </small>
</p>
